<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point de rassemblement </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'handi/securise2.css' %}">
    <script src="{% static 'handi/script.js' %}"></script>

</head>
<body>
    <!-- Titre  -->
    <div class="titre">
        <h1>Etape 6 : L'espace d'attente sécurisé</h1>
        <img src="../../static/handi/img/log.jpeg" alt="">
    </div>

    <div class="corp">
            <!-- Explication de la rêgle du jeu et de la situation-->
        <div class="texte">
            <h3> Consignes :</h3>

            <p>L'objectif de cette étape est d'être capable de bien réagir en cas de présence d'une personne à mobilité résuite.. </p>

            <h3>Le jeu :</h3> 
            
            <p>Répondre aux question suivante</p>
        </div>
        
        <div class="etape">
            <img src="../../static/handi/img/affiche.jpg" alt="plan">

            <div class="question">
                    
                    <p>Question 1:</p>
                    <p>L'espace d'attente sécurisé est un endroit où :</p>
                    
                    <div class="reponse">
                        <input type="radio" id="q11" name="question">
                        <label>Tout le monde attend l'arrivée des pompiers</label>
                        <input type="radio" id="q12" name="question">
                        <label>Lieu d'attente des personne à mobilié réduite</label>
                        <input type="radio" id="q13" name="question">
                        <label>Lieu de refuge en cas d'attaque</label>
                    </div>
            </div>

            <div class="question">
                    
                    <p>Question 2:</p>
                    <p>Que trouve t'on dans cette espace ? </p>
                    
                    
                    <div class="reponse">
                        <input type="checkbox" id="q21" name="question2">
                        <label>Un interphone / téléphone</label>
                        <input type="checkbox" id="q22" name="question2">
                        <label> Bouteille d'eau</label>
                        <input type="checkbox" id="q23" name="question2">
                        <label> Un lit </label>
                        <input type="checkbox" id="q24" name="question2">
                        <label> Une fenêtre</label>
                    </div>
            </div>
            
            <div class="question">
                    
                    <p>Question 3:</p>
                    <p>Où trouve t-on cette espace ?</p>
                    
                    
                    <div class="reponse">
                        <input type="checkbox" id="q31" name="question3">
                        <label>Dans une petite salle avec une fenêtre</label>
                        <input type="checkbox" id="q32" name="question3">
                        <label>Dans les escaliers </label>
                        <input type="checkbox" id="q33" name="question3">
                        <label>Dans l'atrium</label>
                        <input type="checkbox" id="q34" name="question3">
                        <label>Dehors</label>
                    </div>
            </div>

        </div>
       
        <div class="button">
            <br></br> 
            <p id="texteresult"> </p>
            <br></br>
            <button id="resultat"  type="submit" onclick="verif_2()"><h3>Envoyer la réponse</h3></button>
        </div>

    </div>
    <div class="fin">
        <img class="svg" src="../../static/alarme/img/junia_white.svg" alt="">
    </div>


</body>
</html>