<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Plan d'évacuation</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'evacuation/evacuation.css' %}" />
    <script src="{% static 'evacuation/script.js' %}"></script>

    <header>
        <div id="titre">
            <h1>Etape 6 : Plan d'évacuation</h1>
        </div>
        <div id="pictogramme">
            <img src="../../static/evacuation/img/plan.jpg" style="width:250px;height:150px;"/>
          </div>
    </header>
</head>
<body>
    <nav id="background">  
        <br><h2>Consignes :</h2></br>
        <h3>L'objectif de cette étape est d'être capable d'identifier les pictogrammes de sécurité.</h3>
        <h2>Le jeu :</h2>
        <h3>Réstituer les éléments des cases numérotées sur le plan.</h3>
        <div style="text-align: center" >
          <img src="../../static/evacuation/img/plan.jpg" style="width: 75%;">
        </div>
        
        <br></br> 
        <img src="../../static/evacuation/img/panneau.jpg" style="width:20%" id="img1"/>
        <p> Question 1 :  :</p>
        <div class="ici">
        <a>
          <input type="radio" id="q11" name="question">
          <label for="q1">Extincteur à poudre</label>
          <input type="radio" id="q12" name="question">
          <label for="q2">Extincteur à eau</label>
          <input type="radio" id="q13" name="question">
          <label for="q2">Extincteur à gaz</label><br><br>
        </a>
        </div>
        <br></br> 
        <img src="../../static/evacuation/img/pdr.jpg" style=" width:20%" id="img2"/>
        <p> Question 2 :  :</p>
        <div class="ici">
        <a>
          <input type="radio" id="q21" name="question2">
          <label>Espace d'attente sécurisé</label>
          <input type="radio" id="q22" name="question2">
          <label>Point de rassemblement</label>
        </a>
        </div>
        
        <br></br> 
        <img src="../../static/evacuation/img/tel.jpg" style="width:20%" id="img3"/>
        <p> Question 3 :  :</p>
        <div class="ici">
        <a>
          <input type="radio" id="q31" name="question3">
          <label>3630</label>
          <input type="radio" id="q32" name="question3">
          <label>17</label>
          <input type="radio" id="q33" name="question3">
          <label>18</label>
          <input type="radio" id="q34" name="question3">
          <label>112</label>
        </a>
        </div>

        <br></br> 
        <label id="texteresult"> </label>
        <p><button id="resultat"  type="submit" onclick="verif_2()">Envoyer la réponse</button></p>
        <br></br>
    </nav>
</body>
</html>