<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porte coupe feu</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'porte/porte2.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

</head>
<body>
    <!-- Titre  -->
    <div class="titre">
        <h1>Etape 4 : Les portes coupe feu</h1>
        <img src="../../static/porte/img/th.jpeg"/>
    </div>

    <div class="corp">
            <!-- Explication de la rêgle du jeu et de la situation-->
        <div class="texte">
            <h3> Consignes :</h3>

            <p>L'objectif de cette étape est de connaitre l'usage et les caractéristiques des portes coupe feu.</p>

            <h3>Le jeu :</h3> 
            
            <p>Répondez aux questions suivantes. </p>
        </div>
        

        <div class="question">
            <div class="subquestion">
                <p> Question 1 : La porte doit impérativement rester :</p>
                <div>
                    <input type="radio" id="q11" name="question">
                    <label for="q1">Ouverte</label>
                    <input type="radio" id="q12" name="question">
                    <label for="q2">Fermé</label>
                    <input type="radio" id="q13" name="question">
                    <label for="q2">Entre ouverte</label><br><br>
                </div>
            </div>
            <div class="subquestion">
                <p> Question 2 : A quoi sert la porte coupe feu :</p>
                <div class="ici">
                    <input type="radio" id="q21" name="question2">
                    <label>Fermer un espace</label>
                    <input type="radio" id="q22" name="question2">
                    <label>Limiter la propagation de feu</label>
                    <input type="radio" id="q23" name="question2">
                    <label>Eteindre le feu</label><br><br>
                </div>
            </div>
            <div class="subquestion">
                <p> Question 3 : Lors d'une alarme incendie la porte se ferme :</p>
                <div class="ici">
                    <input type="radio" id="q31" name="question3">
                    <label>Automatiquement</label>
                    <input type="radio" id="q32" name="question3">
                    <label>Manuellement</label>
                </div>
            </div>
            <div class="subquestion">
                <p> Question 4 : Peut-on déposer des objets devant la porte coupe feu :</p>
                <div class="ici">
                    <input type="radio" id="q41" name="question4">
                    <label>Oui</label>
                    <input type="radio" id="q42" name="question4">
                    <label>Non</label>
                </div>
            </div>
        </div>
        

        <div class="button">
            <br></br> 
            <p id="texteresult"> </p>
            <br></br>
            <button id="resultat"  type="submit" onclick="verif_2()"><h3>Envoyer la réponse</h3></button>
        </div>

    </div>

    <div class="fin">
        <img class="svg" src="../../static/alarme/img/junia_white.svg" alt="" />
    </div>


    <script>
        function verif_2(){
            console.log("verif1")
            var rep1 = document.getElementById("q11");
            var rep2 = document.getElementById("q12");
            var rep3 = document.getElementById("q13");
            var rep4 = document.getElementById("q21");
            var rep5 = document.getElementById("q22");
            var rep6 = document.getElementById("q23");
            var rep7 = document.getElementById("q31");
            var rep8 = document.getElementById("q32");
            var rep9 = document.getElementById("q41");
            var rep10 = document.getElementById("q42");
            
            // ici c'es la réponse n°2, 1 et 2 qui est correcte
            if(rep2.checked==false && rep1.checked==true && rep3.checked==false && rep4.checked==false && rep5.checked==true && rep6.checked==false && rep7.checked==true && rep8.checked==false && rep9.checked==false && rep10.checked==true){
                document.getElementById("texteresult").innerHTML = "Bravo, bonne réponse !";
                //Redigérer après 3 secondes
                setTimeout(function(){window.location.href = "/extincteur/fume"}, 500);
            }
            else{
                document.getElementById("texteresult").innerHTML = "Votre réponse est fausse !"
            }
            //si pas de réponse
            if(rep1.checked==false && rep2.checked==false && rep3.checked==false && rep4.checked==false && rep5.checked==false && rep6.checked==false && rep7.checked==false && rep8.checked==false && rep9.checked==false && rep10.checked==false){
                //alert("Vous devez cocher une case !");
                document.getElementById("texteresult").innerHTML = "Veuillez choisir votre réponse !"
            }
        }
  </script>
</body>
</html>