<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeu de Situation 4</title>
    {% load static %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Extincteur/situation2.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Extincteur/validation.css' %}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
  </head>
  <body>
    <!-- Titre  -->
    <div class="titre">
      <h1>Etape 3 : Les extincteurs</h1>
      <img src="../../static/Extincteur/img/extincteur.jpg" alt="" />
    </div>

    <div class="corp">
      <!-- Explication de la rêgle du jeu et de la situation-->
      <div class="texte">
        <h3>Consigne </h3>

        <p>
          Vous devez choisir la bonne réponse en fonction de la situation
          proposée.
        </p>

        <h3>La Situation :</h3>
        <p>
          Vous êtes devant un feu sur du bois, mais l'extincteur à CO2 est vide,
          je fais quoi ?
        </p>
      </div>

      <!-- Affichage de l'image -->
      <div class="img">
        <!-- Intégration de l'image -->
        <img src="../../static/Extincteur/img/bois.jpg" alt="bois" />
      </div>

      <!-- Regroupe les boutons -->
      <div class="dispo" id="button">
        <!-- Formulaire contenant le bouton -->
        <form action="/correct" method="post">
          {% csrf_token %}
          <!-- Bouton qui lance la fonction correct réalisé en JS-->
          <button
            class="boutton"
            hx-post="/extincteur/correct"
            hx-trigger="click"
            hx-target="#button"
            hx-swap="outerHTML"
          >
            <h3>J'utilise l'extincteur à poudre</h3>
          </button>
        </form>
        <form action="/incorrect" method="post">
          {% csrf_token %}
          <!-- Bouton qui lance la fonction incorrect réaliser en JS-->
          <button
            class="boutton"
            hx-post="/extincteur/incorrect"
            hx-trigger="click"
            hx-target="#button"
            hx-swap="outerHTML"
          >
            <h3>J'utilise l'extincteur à eau</h3>
          </button>
        </form>
        <form action="/incorrect" method="post">
          {% csrf_token %}
          <!-- Bouton qui lance la fonction incorrect réaliser en JS-->
          <button
            class="boutton"
            hx-post="/extincteur/incorrect"
            hx-trigger="click"
            hx-target="#button"
            hx-swap="outerHTML"
          >
            <h3>Je vais chercher un extincteur à CO2</h3>
          </button>
        </form>
      </div>
    </div>

    <div class="fin">
      <img class="svg" src="../../static/alarme/img/junia_white.svg" alt="" />
    </div>
  </body>
</html>
