<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu de Situation 1 </title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'Extincteur/situation2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Extincteur/validation2.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

</head>
<body>
    <!-- Titre  -->
    <div class="titre">
        <h1>Etape 4: Les extincteurs</h1>
        <img src="../../static/Extincteur/img/extincteur.jpg" alt="">
    </div>

    <div class="corp">
        <!-- Explication de la rêgle du jeu et de la situation-->
    <div class="texte">
        <h3> Règle du jeu :</h3>

        <p>Vous devez choisir la bonne réponse en fonction de la situation proposée.</p>

        <h3>La Situation :</h3>
        <p>Vous êtes témoin d'un départ de feu sur un appareil électrique, vous utilisez qu'elle type d'extincteur ? </p>
    </div>
    
    <!-- Affichage de la vidéo -->
    <div class="img">
        <!-- Intégration de la vidéo -->
        <video style="width: 80%;" 
                autoplay
                loop
                controlsList="nodownload"
                muted>
              <!-- Source de la vidéo -->  
            <source src="../../static/Extincteur/video/prise.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Regroupe les boutons -->
    <div class="dispo" id="button">
        <!-- Formulaire contenant le bouton -->
        <form  action="/correct" method="post">
            {% csrf_token %}
            <!-- Bouton qui lance la fonction correct réalisé en JS-->
            <button class="boutton"
            hx-post='/extincteur/correct' 
            hx-trigger="click"
            hx-target="#button" 
            hx-swap="outerHTML"> <h3>Extincteur à poudre</h3></button>
        </form>
        <form action="/incorrect" method="post">
            {% csrf_token %}
            <!-- Bouton qui lance la fonction incorrect réaliser en JS-->
            <button class="boutton" 
            hx-post='/extincteur/incorrect' 
            hx-trigger="click"
            hx-target="#button" 
            hx-swap="outerHTML"> <h3>Extincteur à eau</h3></button>
        </form>
        <form action="/incorrect" method="post">
            {% csrf_token %}
            <!-- Bouton qui lance la fonction incorrect réaliser en JS-->
            <button class="boutton" 
            hx-post='/extincteur/incorrect' 
            hx-trigger="click"
            hx-target="#button" 
            hx-swap="outerHTML"> <h3>Extincteur à CO2</h3></button>
        </form>
    </div>

    </div>
</body>
</html>