<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>incorrect</title>
</head>
<body>
    <div class="icon">
        <i class="fa fa-times rouge" aria-hidden="true"></i>
    </div>
    <div class="dispo">
        <button onClick="window.location.reload();">
            <h3>Recommencer l'étape</h3>
        </button>   
    </div>
</body>
</html>