.titre, div  {
    color:rgb(246, 240, 240);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.background, nav{
    background-color:rgb(255, 255, 255);
    width: 100%;
}
body{
    background-color: rgb(108, 14, 108);
}
.corps, h2 {
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 18pt;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    font-size: 14pt;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    text-align: center;
    
}

.éléments {
    border: 4px solid green;
    border-radius: 6px;
    min-height: 128px;
    margin: 32px;
}

.cart {
    border: 4px solid #4b82d4;
    border-radius: 6px;
    min-height: 128px;
    margin: 32px;
}

.cart1 {
    border: 4px solid rgb(105, 69, 16);
    border-radius: 6px;
    min-height: 128px;
    margin: 32px;
}

.cart2 {
    border: 4px solid orangered;
    border-radius: 6px;
    min-height: 128px;
    margin: 32px;
}


p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
