<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correct</title>
  </head>
  <body>
    <div class="icon">
      <i class="fa fa-check vert" aria-hidden="true"></i>
    </div>
    <div class="dispo">
      <button onclick="passage()">
        <h3>Passer à l'étape Suivante</h3>
      </button>
    </div>

    <script>
      function passage() {
        setTimeout(function () {
          window.location.href = "/passage/porte";
        }, 500);
      }
    </script>
  </body>
</html>
