<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les alarmes </title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'alarme/alarme2.css' %}" />

</head>
<body>
    <!-- Titre  -->
    <div class="titre">
        <h1>Etape 2 : Les alarmes incendies</h1>
        <img src="../../static/alarme/img/alarme incendie.jpg" alt="">
    </div>

    <div class="corp">
            <!-- Explication de la rêgle du jeu et de la situation-->
        <div class="texte">
            <h3> Consignes :</h3>

            <p>L'objectif de cette étape est de pouvoir reconnaitre le signal sonore lors d'une alarme incendie.</p>

            <h3>Le jeu :</h3> 
            
            <p>(veuillez activer votre son) </p>
        </div>
        

        <div class="audio">
            <div class="sound">
                <p>
                    <label> Son 1</label>
                    <input type="radio" id="son1" name="son"><br>
                    <audio name="audio"
                    controls      
                    src="../../static/alarme/sound/sirene police.mp3">
                    </audio>
                </p>
            </div>
            <div class="sound">
                <p>
                    <label> Son 2</label>
                    <input type="radio" id="son2" name="son"><br>
                    <audio name="audio"
                    controls      
                    src="../../static/alarme/sound/alarmeincendie.mp3">
                    </audio>
                </p>
            </div>
            <div class="sound">
                <p>
                    <label> Son 3</label>
                    <input type="radio" id="son3" name="son"><br>
                    <audio name="audio"
                    controls      
                    src="../../static/alarme/sound/sirène nucléaire.mp3">
                    </audio>
                </p>
            </div>
            <div class="sound">
                <p>
                    <label> Son 4</label>
                    <input type="radio" id="son4" name="son"><br>
                    <audio name="audio"
                    controls      
                    src="../../static/alarme/sound/alarme ambulance.mp3">
                    </audio>
                </p>
            </div>
            
        </div>

        <div class="button">
            <br></br> 
            <p id="texteresult"> </p>
            <br></br>
            <button id="resultat"  type="submit" onclick="verif_1()"><h3>Envoyer la réponse</h3></button>
        </div>
        
    </div>

    <div class="fin">
        <img class="svg" src="../../static/alarme/img/junia_white.svg" alt="">
    </div>
    

    <script>
        function verif_1(){
            // On récupère les éléments des inputs 
            var rep1 = document.getElementById("son1");
            var rep2 = document.getElementById("son2");
            var rep3 = document.getElementById("son3");
            var rep4 = document.getElementById("son4");

            // On vérifie l'état des inputs en fonction de ce que l'on veut
            if(rep2.checked==true && rep1.checked==false && rep3.checked==false && rep4.checked==false){
                document.getElementById("texteresult").innerHTML = "Bravo, bonne réponse !";
                //Redigérer après 3 secondes
                setTimeout(function(){window.location.href = "/passage/extincteur"}, 500);
            }
            else{
                document.getElementById("texteresult").innerHTML = "Votre réponse est fausse !"
            }
            //si pas de réponse
            if(rep1.checked==false && rep2.checked==false && rep3.checked==false && rep4.checked==false){
                //alert("Vous devez cocher une case !");
                document.getElementById("texteresult").innerHTML = "Veuillez choisir votre réponse !"
            }
        }
    </script>
</body>
</html>