<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point de rassemblement </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'PDR/pdr.css' %}">


</head>
<body>
    <!-- Titre  -->
    <div class="titre">
        <h1>Etape 8 : Le Point de rassemblement</h1>
        <img src="../../static/PDR/img/point de rassemblement.jpg" alt="">
    </div>

    <div class="corp">
            <!-- Explication de la rêgle du jeu et de la situation-->
        <div class="texte">
            <h3> Consignes :</h3>

            <p>L'objectif de cette étape est de pouvoir sortir du bâtiment au bon endroit </p>

            <h3>Le jeu :</h3> 
            
            <p>Répondre aux questions suivantes </p>
        </div>
        

       <div class="question">
           <div class="q">
                <p>1) Veuillez trouver ce panneau de point de rassemblement à l'aide des éléments vus précédemment.</p>
                <img src="../../static/PDR/img/panneau.jpg" alt="">
           </div>
           <div class="q">
                <p>2) Entrez le code caché sur le point de rassemblement</p>
                <input type="code" id="code">
           </div>
           <div class="q">
                <p>Combien y a t'il de point rassemblement à <strong>HEI</strong></p>
                <div>
                    <label> 1</label>
                    <input type="radio" id="q1" name="reponse"><br>
                </div>
                <div>
                    <label> 2 </label>
                    <input type="radio" id="q2" name="reponse"><br>
                </div>
                <div>
                    <label> 3 </label>
                    <input type="radio" id="q3" name="reponse"><br>
                </div>
                <div>
                    <label> 4 </label>
                    <input type="radio" id="q4" name="reponse"><br>
                </div>
        </div>
        
        
    </div>

        <div class="button">
            <br></br> 
            <p id="texteresult"> </p>
            <br></br>
            <button id="resultat"  type="submit" onclick="verif_1()"><h3>Envoyer la réponse</h3></button>
        </div>

    </div>

    <div class="fin">
        <img class="svg" src="../../static/alarme/img/junia_white.svg" alt="" />
    </div>

    <script>
        function verif_1(){
            console.log("verif1")
            var rep1 = document.getElementById("code").value;
            var rep2 = document.getElementById("q1");
            var rep3 = document.getElementById("q2");
            var rep4 = document.getElementById("q3");
            var rep5 = document.getElementById("q4");

            // ici c'es la réponse n°2 qui est correcte
            if(rep3.checked==true && rep1=="PDR" && rep2.checked==false && rep4.checked==false && rep5.checked==false){
                document.getElementById("texteresult").innerHTML = "Bravo, bonne réponse !";
                setTimeout(function(){window.location.href = "/final";}, 500);
            }
            else{
                document.getElementById("texteresult").innerHTML = "Votre réponse est fausse !"
                //reset des réponses
                document.getElementById("code").value = "";
                rep2.checked = false;
                rep3.checked = false;
                rep4.checked = false;

            }
            //si pas de réponse
            if(rep1==("") && rep2.checked==false && rep3.checked==false && rep4.checked==false  && rep5.checked==false){
                //alert("Vous devez cocher une case !");
                document.getElementById("texteresult").innerHTML = "Veuillez choisir votre réponse !"
            }
        }



    </script>
</body>
</html>