<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'fin/triche2.css' %}">
    <title>TRICHE</title>
</head>
<body>
    <h1>TRICHE</h1>
    <div class="corp">
        <h3>Vous avez triché, recommencez à zéro !!!</h3>
    <button onclick="redirect()"><h3>Recommencer</h3></button>

    </div>
    <script>
        function redirect() {
            setTimeout(function(){window.location.href = "/triangle"}, 500);   
        
        }
    </script>
</body>
</html>