/* Centrage du titre */
.titre{
    display: flex;
    justify-content: center;
 }
 
/* Décoration titre  niveau 1*/
 .titre h1{
     color:red;
     text-decoration: underline;
 }

/* Centrage du text */
 .texte{
   display: flex;
   flex-direction: column;
   text-align: center;
 }
 
/* Décoration Titre niveau 3 */ 
 .texte h3{
   text-decoration: underline;
   
 }

/* Centrage de l'image */
 .img{
     display: flex;
     justify-content: center;
 }

 /* Dimmension image */
 .img img{
    width: 40%;
 }

/* Centrage de l'image */
 .button{
    margin: 20px;
    display: flex;
    justify-content: center;
 }
 /*Espace Formulaire */
 .button form{
   margin: 0px 40px;
 }

/* Décoration bouton */
 .boutton{
   margin: 20px;
    width: 100%;
    border: 1px solid black;
    background-color: gray;
    border-radius: 20px;
 }
/* Changement couleur quand on passe dessus */
 .boutton:hover{
   color: white;
 }

 