body{
    background-color:purple;
}

h1, h2{
    color:white;
    text-align: center;
}

.fin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}
.svg {
    width: 50%;
}