<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- afficher les données de la base de donnée dans un tableau -->
    <table>
        <tr>
            <th>nom</th>
            <th>email</th>
            <th>formation</th>
            <th>date</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.nom}}</td>
            <td>{{user.email}}</td>
            <td>{{user.formation}}</td>
            <td>{{user.date}}</td>
        </tr>
        {% endfor %}

        télécharger le fichier
        
</body>
</html>